<HTML>
<HEAD>
<TITLE>CSS's Top 10 List</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"
LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000"
MARGINHEIGHT=0 MARGINWIDTH=0>

<MAP NAME="banner">
<AREA SHAPE=RECT COORDS="300,11,558,44" HREF="http://www.mozilla.org/">
</MAP>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR><TD BGCOLOR="#000000" VALIGN=TOP ROWSPAN=2><IMG
SRC="../../images/mozilla-banner.gif"
ALT="" BORDER=0 USEMAP="#banner"
WIDTH=600 HEIGHT=58 VSPACE=0 HSPACE=0></TD></TR></TABLE>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR>


<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=TOP><IMG ALT=""
SRC="../../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP ROWSPAN=2>

<BR><TABLE CELLPADDING=0 CELLSPACING=3 BORDER=0>
<TR><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../..//"><B> The Mozilla<BR>Organization</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../mission.html"> Our Mission</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../about.html"> Who We Are</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../get-involved.html"> Getting Involved</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../community.html"> Community</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../advocacy.html"> Editorials</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../news.html"> What's New</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../../development.html"><B> Development</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../roadmap.html"> Roadmap</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../owners.html"> Module Owners</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../blue-sky/"> Blue Sky</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../projects.html"> Projects</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../status/"> Status</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../tools.html"> Tools</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../../products.html"><B> Products</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../source.html"> Source Code</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../binaries.html"> Binaries</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../docs/"> Documentation</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../NPL/"> License Terms</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../../bugs/"> Bug Reports</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../../search"><B> Search</B></A></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../../feedback.html"><B> Feedback</B></A></TD></TR>
</TABLE><BR>

</TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD VALIGN=TOP><IMG ALT=""
SRC="../../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP ROWSPAN=2>
<P><BR>






<CENTER>
<H1>
CSS's Top 10 List</H1></CENTER>

<CENTER><A HREF="mailto:toshok@netscape.com">Chris Toshok</A>,
<A HREF="mailto:pollmann@netscape.com">Eric
Pollmann</A>,
<A HREF="mailto:harishd@netscape.com">Harish Dhurvasula</A>,
<A HREF="mailto:nisheeth@netscape.com">Nisheeth
Ranjan</A>,
<A HREF="mailto:dp@netscape.com">Suresh Duddi</A></CENTER>

<P>
<HR WIDTH="100%">
<P>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=3 BGCOLOR="#FFFFCC" ALIGN=CENTER>
<TR ALIGN=LEFT>
<TH>Goal:</TH>

<TD>To get traction on fixing the bugs in mozilla's 
<A HREF="http://www.w3.org/TR/REC-CSS1">CSS-1</A>
implementation</TD>
</TR>

<TR ALIGN=LEFT>
<TH>Task:</TH>

<TD>Fix the 10 bugs in CSS inheritance and formatting listed below</TD>
</TR>

<TR ALIGN=LEFT>
<TH>Start Date:</TH>

<TD>Sept. 8, 1998</TD>
</TR>

<TR ALIGN=LEFT>
<TH>End Date:</TH>

<TD>Sept. 18, 1998</TD>
</TR>

<TR ALIGN=LEFT>
<TH>Duration:</TH>

<TD>10 days</TD>
</TR>

<TR ALIGN=LEFT>
<TD><B>Status:</B></TD>

<TD><B>Partially done</B></TD>
</TR>
</TABLE>
<P>
<TABLE BORDER=0 WIDTH="90%" ALIGN=CENTER>
<TR>
<TD>Harish and Eric are working full time on improving <A HREF="http://www.w3.org/Style/CSS/">CSS</A>
stability in mozilla. Please help out in this effort in any way you can.
If you are a programmer, <A HREF="http://www.mozilla.org/source.html">download
the source</A>, compile it, step through the code, and fix some bugs. Once
you're familiar with the code, work on CSS features. If you get stuck,
post to the
<A HREF="news://news.mozilla.org/netscape.public.mozilla.layout">layout
newsgroup</A> and we'll help you. If you aren't a programmer, <A HREF="http://www.mozilla.org/binaries.html">download
a binary</A>, run it through the <A HREF="http://www.w3.org/Style/CSS/Test/">W3C CSS test suite</A>, and file bugs on us
using <A HREF="http://www.mozilla.org/bugs/">Bugzilla</A>.
<P>Lets make CSS in mozilla rock!
<P>The following table lists the bugs we are attacking over the next 10
days. Click on the bug links below to go to the Bugzilla bug report. If
you want to track the progress of a bug, put yourself on the CC list of
the bug and you will get an email each time a comment is added to that
bug.&nbsp;</TD>
</TR>
</TABLE>
<P>
<CENTER><TABLE BORDER COLS=4 WIDTH="90%" NOSAVE >
<TR ALIGN=CENTER VALIGN=CENTER BGCOLOR="#000066" NOSAVE>
<TH NOSAVE><FONT COLOR="#FFFFFF">Bug Description</FONT></TH>

<TH NOSAVE><FONT COLOR="#FFFFFF">Status</FONT></TH>

<TH NOSAVE><FONT COLOR="#FFFFFF">Bugzilla Bug #</FONT></TH>

<TH NOSAVE><FONT COLOR="#FFFFFF">Victim</FONT></TH>
</TR>

<TR>
<TD>Table not inheriting properties</TD>

<TD>
<CENTER>&nbsp;<FONT COLOR="#FF6666">Not Fixed</FONT></CENTER>
</TD>

<TD>
<CENTER>&nbsp;<A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=711">711</A></CENTER>
</TD>

<TD>
<CENTER><A HREF="mailto:pollmann@netscape.com">pollmann</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>Nested CSS-P bug&nbsp;</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF9900">Partially Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE>
<CENTER><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=716">716</A></CENTER>
</TD>

<TD>
<CENTER><A HREF="mailto:pollmann@netscape.com">pollmann</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>font-family defaults don't work for cursive and fantasy fonts</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF0000">Not Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=712">712</A></TD>

<TD NOSAVE>
<CENTER><A HREF="mailto:pollmann@netscape.com">pollmann</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>Float property makes the page look scrambled</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF0000">Not Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=714">714</A></TD>

<TD>
<CENTER><A HREF="mailto:pollmann@netscape.com">pollmann</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>Background positioning of images not working at all</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF9900">Partially Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE>
<CENTER><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=713">713</A></CENTER>
</TD>

<TD>
<CENTER><A HREF="mailto:harishd@netscape.com">harishd</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>Font-size declaration works for TD but ignored for TH</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF0000">Not Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=733">733</A></TD>

<TD>
<CENTER><A HREF="mailto:harishd@netscape.com">harishd</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>Border styles set to show individually all show as outset&nbsp;</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF9900">Partially Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=717">717</A></TD>

<TD>
<CENTER><A HREF="mailto:harishd@netscape.com">harishd</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>Bad CSS formatting on page</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF0000">Not Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=718">718</A></TD>

<TD>
<CENTER><A HREF="mailto:harishd@netscape.com">harishd</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>TextTransform does not work on CSS for non-ASCII</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF0000">Not Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=719">719</A></TD>

<TD>
<CENTER><A HREF="mailto:harishd@netscape.com">harishd</A></CENTER>
</TD>
</TR>

<TR NOSAVE>
<TD>CSS "width" not interpreted correctly.</TD>

<TD ALIGN=CENTER NOSAVE><FONT COLOR="#FF0000">Not Fixed</FONT></TD>

<TD ALIGN=CENTER NOSAVE><A HREF="http://cvs-mirror.mozilla.org/webtools/bugzilla/show_bug.cgi?id=761">761</A></TD>

<TD>
<CENTER><A HREF="mailto:harishd@netscape.com">harishd</A></CENTER>
</TD>
</TR>
</TABLE></CENTER>




<P><BR>
</TD>


<TD VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

</TR>
<TR>


<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM><IMG ALT=""
SRC="../../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM><IMG ALT=""
SRC="../../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD VALIGN=BOTTOM><IMG ALT=""
SRC="../../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>
</TR>

<TR>

<TD BGCOLOR="#000000" COLSPAN=6><BR></TD>

<TD BGCOLOR="#000000" VALIGN=TOP>

<FONT COLOR="#AAAAAA" SIZE="-1">
Copyright &copy; 1998 The Mozilla Organization.
</FONT>
</FONT>
</TD>

<TD BGCOLOR="#000000" COLSPAN=2><BR></TD>
</TR>

</TABLE>
<P>
</BODY>
</HTML>
