<HTML>
<HEAD>
<TITLE>Component Security for Mozilla</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"
LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000"
MARGINHEIGHT="0" MARGINWIDTH="0">

<MAP NAME="banner">
<AREA SHAPE=RECT COORDS="300,11,558,44" ALT="" HREF="http://www.mozilla.org/">
</MAP>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR><TD BGCOLOR="#000000" VALIGN=TOP><IMG
SRC="../../../images/mozilla-banner.gif"
ALT="" BORDER=0 USEMAP="#banner"
WIDTH="600" HEIGHT="58" VSPACE="0" HSPACE="0"></TD></TR></TABLE>

<TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0" WIDTH="100%">


<TR>


<TD VALIGN="TOP" >
<TABLE BORDER="0" ><TR><TD BGCOLOR="#000000" VALIGN="TOP">
<TABLE BORDER="0" CELLSPACING="3"><TR><TD BGCOLOR="#DDDDDD" VALIGN="TOP">
<TABLE CELLPADDING=0 CELLSPACING=3 BORDER=0>
<TR><TD NOWRAP COLSPAN=2><A HREF="../../.././"><B> The Mozilla<BR>Organization</B></A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../mozorg.html"> At A Glance</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../feedback.html"> Feedback</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../get-involved.html"> Get Involved</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../community.html"> Newsgroups</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../MPL/"> License Terms</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="http://www.mozilla.org/newsbot/"> Newsbot</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=3 - 1><B></B></TD></TR>
<TR><TD NOWRAP COLSPAN=2><A HREF="../../../docs/"><B> Developer Docs</B></A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../roadmap.html"> Roadmap</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../projects/"> Projects</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../ports/"> Ports</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../owners.html"> Module Owners</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../hacking/"> Hacking</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../source.html"> Get the Source</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../build/"> Build It</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=3 - 1><B></B></TD></TR>
<TR><TD NOWRAP COLSPAN=2><A HREF="../../../quality/"><B> Testing</B></A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../binaries.html"> Download</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../bugs/"> Bugzilla</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="../../../quality/bug-writing-guidelines.html"> Bug Writing</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=3 - 1><B></B></TD></TR>
<TR><TD NOWRAP COLSPAN=2><A HREF="../../../tools.html"><B> Tools</B></A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="http://lxr.mozilla.org/seamonkey/"> View Source</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="http://tinderbox.mozilla.org/showbuilds.cgi?tree=SeaMonkey"> Tree Status</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="http://cvs-mirror.mozilla.org/webtools/bonsai/cvsquery.cgi?treeid=default&amp;module=SeaMonkeyAll&amp;branch=HEAD&amp;branchtype=match&amp;dir=&amp;file=&amp;filetype=match&amp;who=&amp;whotype=match&amp;sortby=Date&amp;hours=2&amp;date=day&amp;mindate=&amp;maxdate=&amp;cvsroot=%2Fcvsroot"> New Checkins</A></TD></TR>
<TR><TD></TD><TD NOWRAP><A HREF="http://bugzilla.mozilla.org/"> Submit A Bug</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=3 - 1><B></B></TD></TR>
<TR><TD NOWRAP COLSPAN=2><A HREF="../../../faq.html"><B> FAQ</B></A></TD></TR>
<TR><TD NOWRAP COLSPAN=2><A HREF="http://www.mozilla.org/search.html"><B> Search</B></A></TD></TR>
</TABLE>
</TD></TR></TABLE>
</TD></TR></TABLE>
</TD>


<TD VALIGN="TOP">




   
   
   
   



<center>
<h1>
Component Security for Mozilla</h1></center>

<p><br><script>document.write('<a href="mailto:norris'+String.fromCharCode(64)+
                       'netscape.com">Norris Boyd</a><br>');</script>
<script>
	var d = new Date(document.lastModified);
	document.write((d.getMonth()+1)+"/"+d.getDate()+"/"+d.getFullYear());
	document.write('<br>');
</script>

<hr WIDTH="100%">
<h3>
What's "Component Security"?</h3>
These pages are to describe the project of adding security to Mozilla components.
We <b><i>do not</i></b> cover cryptographic security (SSL, certificates,
S/MIME, etc.). For such topics, see <a href="../pki/">Open Source PKI Projects</a>.
<p>Instead we talk about the ways of adding Java and JavaScript security to Mozilla 
components, mainly in terms of mobile code and the browser interfaces available to 
programs from those languages.
<p>This is a difficult task in any event, but is particularly tricky for
Mozilla. This is because Mozilla makes increasing use of Internet technologies
to implement the browser itself. This has many benefits for modularity,
cross-platform development, and encouraging development by a wider range
of people. However, it also makes the process of ensuring browser security
more challenging because the lines distinguishing the trusted browser from
the untrusted content it displays have become blurred.
<br>&nbsp;
<h3>
Documentation</h3>

<ul>
<li>
<a href="design.html">Component Security Design</a></li>

<li>
<a href="configPolicy.html">Configurable Security Policies</a></li>
</ul>

<h3>
References and Articles</h3>

<ul>
<li>
<a href="http://www.bell-labs.com/user/alain/papers/w6046.pdf">Secure Web
Scripting (pdf)</a> -- Bell Labs researchers Vinod Anupam and Alain Mayer
describe the JavaScript security model, propose refinements and additions,
and describe work in the Mozilla codebase to implement their ideas.</li>

<li>
<a href="http://www.bell-labs.com/user/alain/usenix-html/usenix-html.html">A
User's and Programmer's View of the New JavaScript Security Model</a> --
Anupam, Kristol, and Mayer delve into the implementation of the JavaScript
security model.<!---
<li>
<a href="http://kumite.com/myths/">Computer Virus Myths home page</a></li>
---></li>
</ul>

<h3>
News</h3>
Some recent items of note. You also might want to look over the <a href="news://news.mozilla.org/netscape.public.mozilla.security">news://news.mozilla.org/netscape.public.mozilla.security</a>
newsgroup.
<p><i><u>6/4/99</u></i>
<br>This page first posted.
<br>&nbsp;
<h3>
Wish List</h3>
If you'd like to contribute to enhancing the security of Mozilla, here
are some ways you can help. Mail&nbsp;<script>document.write('<a href="mailto:norris'+String.fromCharCode(64)+
                       'netscape.com">Norris Boyd</a>');</script>

if you'd like to help.
<ul>
<li>
Buffer overflow problems -- This is a classic source of security vulnerability
in native code. Has anyone developed scripts or tools to detect security
problems of this sort? Do people have good lists of the sort of things
to search for in source that can lead to buffer overflows?</li>
</ul>

<hr WIDTH="100%">




</TD>

</TR>
<TR>

<TD COLSPAN="2" ALIGN="RIGHT" VALIGN="TOP">
<FONT SIZE="-1">
Copyright &copy; 1998-2000 The Mozilla Organization.
<BR>
<A HREF="http://www.mozilla.org/webtools/bonsai/cvslog.cgi?file=mozilla-org/html/projects/security/components/index.html&amp;rev=&amp;root=/cvsroot/">Last modified January 18,  2000</A>.
</FONT>
</TD>
</TR>

</TABLE>
</BODY>
</HTML>
