<HTML>
<HEAD>
<TITLE> Unimplemented HTML 4.0 features </TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"
LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000"
MARGINHEIGHT=0 MARGINWIDTH=0>

<MAP NAME="banner">
<AREA SHAPE=RECT COORDS="300,11,558,44" HREF="http://www.mozilla.org/">
</MAP>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR><TD BGCOLOR="#000000" VALIGN=TOP ROWSPAN=2><IMG
SRC="../images/mozilla-banner.gif"
ALT="" BORDER=0 USEMAP="#banner"
WIDTH=600 HEIGHT=58 VSPACE=0 HSPACE=0></TD></TR></TABLE>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR>


<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=TOP><IMG ALT=""
SRC="../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP ROWSPAN=2>

<BR><TABLE CELLPADDING=0 CELLSPACING=3 BORDER=0>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="..//"><B> The Mozilla<BR>Organization</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../mission.html"> Our Mission</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../about.html"> Who We Are</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../get-involved.html"> Getting Involved</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../community.html"> Community</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../advocacy.html"> Editorials</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../news.html"> What's New</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../development.html"><B> Development</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../roadmap.html"> Roadmap</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../owners.html"> Module Owners</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../blue-sky/"> Blue Sky</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../projects.html"> Projects</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../status/"> Status</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../tools.html"> Tools</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../products.html"><B> Products</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../source.html"> Source Code</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../binaries.html"> Binaries</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../docs/"> Documentation</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../NPL/"> License Terms</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../bugs/"> Bug Reports</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../search.html"><B> Search</B></A></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../feedback.html"><B> Feedback</B></A></TD></TR>
</TABLE><BR>

</TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD VALIGN=TOP><IMG ALT=""
SRC="../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP ROWSPAN=2>
<P><BR>






<CENTER>
<H1>
Unimplemented HTML 4.0 Features in Mozilla</H1></CENTER>

<CENTER>August 10, 1998</CENTER>

<P>What follows is a summary of the BODY level tags and features that Mozilla
does not currently support. 

<P>This list is by no means complete. Please update it with whatever HTML
4.0 features you see that are missing, and also add things to the notes
column should you be privy to some information that might help with planning
or implementing the feature.
<P>
<CENTER><TABLE BORDER COLS=4 WIDTH="100%" >
<TR>
<TD>
<CENTER><B>Feature</B></CENTER>
</TD>

<TD>
<CENTER><B>XP Time Needed</B></CENTER>
</TD>

<TD>
<CENTER><B>FE Work needed?</B></CENTER>
</TD>

<TD>
<CENTER><B>Notes</B></CENTER>
</TD>
</TR>

<TR>
<TD><TT>title</TT> attribute on every tag/element, rendered as a tooltip.</TD>

<TD>1 day</TD>

<TD>Y</TD>

<TD></TD>
</TR>

<TR>
<TD>event handlers on every tag/element.</TD>

<TD>5 weeks.</TD>

<TD>Y</TD>

<TD>Nisheeth and Toshok are currently working on this for SPAN and DIV
tags</TD>
</TR>

<TR>
<TD>language information (the <TT>lang</TT> attribute) and text direction
(the <TT>dir</TT> attribute)</TD>

<TD>long time, especially for bi-di text.</TD>

<TD>Probably</TD>

<TD></TD>
</TR>

<TR>
<TD>id attribute for links.</TD>

<TD>2 days</TD>

<TD>N</TD>

<TD>Allows <TT>a href</TT>'s to go to any element when clicked, instead
of just named anchors.</TD>
</TR>

<TR>
<TD><TT>DFN</TT>, <TT>ACRONYM</TT> and <TT>ABBR</TT> tags</TD>

<TD>4 days each</TD>

<TD>N</TD>

<TD></TD>
</TR>

<TR>
<TD><TT>INS</TT> and <TT>DEL</TT> tags</TD>

<TD>4 days each</TD>

<TD>N</TD>

<TD></TD>
</TR>

<TR>
<TD><TT>THEAD</TT>, <TT>TFOOT</TT>, and <TT>TBODY</TT> tags.</TD>

<TD>4 weeks</TD>

<TD>N</TD>

<TD></TD>
</TR>

<TR>
<TD><TT>COLGROUP</TT> and <TT>COL</TT> tags.</TD>

<TD>2 weeks</TD>

<TD>N</TD>

<TD></TD>
</TR>

<TR>
<TD>Other new table related attributes (<TT>axis</TT>, <TT>abbr</TT>, <TT>scope</TT>,
etc)</TD>

<TD>??</TD>

<TD>N</TD>

<TD></TD>
</TR>

<TR>
<TD><TT>LABEL</TT> form element</TD>

<TD>1 week</TD>

<TD>N</TD>

<TD>If we're going to do access key/tab navigation stuff, we should have
<TT>LABEL</TT></TD>
</TR>

<TR>
<TD><TT>OPTGROUP</TT> form element</TD>

<TD>1 week</TD>

<TD>Y</TD>

<TD></TD>
</TR>

<TR>
<TD><TT>FIELDSET</TT>and <TT>LEGEND</TT> form element</TD>

<TD>2 weeks</TD>

<TD>Y</TD>

<TD></TD>
</TR>

<TR>
<TD><TT>BUTTON</TT> form element</TD>

<TD>1 week</TD>

<TD>Y ?</TD>

<TD></TD>
</TR>

<TR>
<TD>Form element tab navigation.</TD>

<TD>3 weeks</TD>

<TD>Y</TD>

<TD>This could probably be worked into the existing tab navigation code,
and the mariner stuff could keep the majority of code in XP.</TD>
</TR>

<TR>
<TD>Access keys for form elements.</TD>

<TD>2 week</TD>

<TD>Y</TD>

<TD></TD>
</TR>

<TR>
<TD>IFRAME tag</TD>

<TD>3 weeks</TD>

<TD>Y</TD>

<TD>IFRAMES could leverage heavily off the existing layer code. All we
would need is a way for layout to tell the front end to create scrollbars,
and then have the front end tell layout when the use scrolls.</TD>
</TR>

<TR>
<TD><TT>longdesc</TT> attribute for <TT>FRAME </TT>tags</TD>

<TD></TD>

<TD></TD>

<TD>This is primarily there for non visual user agents.</TD>
</TR>
</TABLE></CENTER>





<P><BR>
</TD>


<TD VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

</TR>
<TR>


<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM><IMG ALT=""
SRC="../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD VALIGN=BOTTOM><IMG ALT=""
SRC="../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>
</TR>

<TR>

<TD BGCOLOR="#000000" COLSPAN=6><BR></TD>

<TD BGCOLOR="#000000" VALIGN=TOP>

<FONT COLOR="#AAAAAA" SIZE="-1">
Copyright &copy; 1998 The Mozilla Organization.
</FONT>

</TD>

<TD BGCOLOR="#000000" COLSPAN=2><BR></TD>
</TR>

</TABLE>
<P>
</BODY>
</HTML>
