<HTML>
<HEAD>
<TITLE>Mariner (Or : Why you should work on the current layout engine)</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"
LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000"
MARGINHEIGHT=0 MARGINWIDTH=0>

<MAP NAME="banner">
<AREA SHAPE=RECT COORDS="300,11,558,44" HREF="http://www.mozilla.org/">
</MAP>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR><TD BGCOLOR="#000000" VALIGN=TOP ROWSPAN=2><IMG
SRC="../images/mozilla-banner.gif"
ALT="" BORDER=0 USEMAP="#banner"
WIDTH=600 HEIGHT=58 VSPACE=0 HSPACE=0></TD></TR></TABLE>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">

<TR>


<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>



<TD BGCOLOR="#DDDDDD" VALIGN=TOP><IMG ALT=""
SRC="../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP><IMG ALT=""
SRC="../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP ALIGN=RIGHT>
</TD>


<TD VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

</TR>


<TR>

<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP COLSPAN=2>

<TABLE CELLPADDING=0 CELLSPACING=3 BORDER=0>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="..//"><B> The Mozilla<BR>Organization</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../mission.html"> Our Mission</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../about.html"> Who We Are</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../get-involved.html"> Getting Involved</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../community.html"> Community</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../advocacy.html"> Editorials</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../news.html"> What's New</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../newsbot/"> Newsbot</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../development.html"><B> Development</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../roadmap.html"> Roadmap</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../owners.html"> Module Owners</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../blue-sky/"> Blue Sky</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../projects/"> Projects</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../status/"> Status</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../tools.html"> Tools</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../products.html"><B> Products</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../source.html"> Source Code</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../binaries.html"> Binaries</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../docs/"> Documentation</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../NPL/"> License Terms</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../bugs/"> Bug Reports</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../quality/"> Quality</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../search.html"><B> Search</B></A></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../feedback.html"><B> Feedback</B></A></TD></TR>
</TABLE>
</TD>


<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP ALIGN=RIGHT>
</TD>


<TD VALIGN=TOP>






<CENTER><B><FONT SIZE=+2>Mariner</FONT></B></CENTER>

<CENTER><B>(Or: Why you should work</B></CENTER>

<CENTER><B>on the current layout engine)</B></CENTER>

<CENTER>Chris Toshok &amp; Nisheeth Ranjan</CENTER>

<CENTER>&lt;<A HREF="mailto:toshok@netscape.com,nisheeth@netscape.com">toshok@netscape.com
&amp; nisheeth@netscape.com</A>></CENTER>

<H4><HR WIDTH="100%"></H4>

<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC">
<TR >
<TD ><B>Mariner and <A HREF="http://www.mozilla.org/newlayout/">NGLayout</A> : 
Why do both?</B></TD>
</TR>
</TABLE>

<P>We all believe that <A HREF="http://www.mozilla.org/newlayout/">NGLayout</A> will replace the current layout sources,
sometime around the end of this year.  Until then, though, there is
much that can still be squeezed out of the existing layout engine.
NGLayout will not be ready to be included into the mozilla source by the
time we want to release 5.0, so we've got at least another major (and probably
several maintenance) releases which will use the current layout engine.

<P>Mariner is the code name for performance and stability enhancements
to the layout/layers/style sheet code. The project changes the layout
engine to make the document model persist across resizes; so, each resize
in Mozilla causes a page reflow instead of a reload from the cache.
Now that we have a persistent document model, we are <A HREF="dom.html">working on implementing
a DOM interface to it</A>.
<P>
<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC"  >
<TR >
<TD ><B>Performance enhancements</B></TD>
</TR>
</TABLE>


<P>Mariner includes a lot of performance enhancements, mainly in three
areas:
<UL>
<LI>
<B>Text layout:</B> The algorithm used to find break positions within
text was improved. Also, the break positions were stored in a break
table that gets consulted for doing text reflow.</LI>
</UL>

<UL>
<LI>
<B>Table layout:</B> In table layout, each cell gets laid out onto
a rectangle of infinite width/height in the first pass. Then, once
all the minimum and maximum widths/heights of cells have been figured out,
a second pass of table layout occurs that lays out each cell's contents
into a bounded rectangle. In 4.0, the second pass of table layout
would reparse and relayout the cell from the HTML tags contained within
the cell. In mozilla, because of Mariner's persistent document model,
the second pass iterates over the model and adjusts the position and dimensions
of the cell's content to fit in the bounded rectangle. All the malloc
overhead incurred in the first pass for creating the document model is
not incurred in the second pass. This make overall table layout much
faster.</LI>
</UL>

<UL>
<LI>
<B>Resize/Reflow:</B> Since resizes cause a page reflow rather than
a reload from the cache, they are much faster.</LI>
</UL>

<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC"  >
<TR >
<TD ><B>Stability enhancements</B></TD>
</TR>
</TABLE>


<P>Many bugs related to resizing pages that have dynamic content on them
are fixed.

<P>
<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC"  >
<TR>
<TD><B>Mariner DOM</B></TD>
</TR>
</TABLE>

<P>Our current goal is to implement enough of the W3C spec to enable content
developers to do what they want to do now.  Work is underway to make the
<a href="http://lxr.mozilla.org/mozilla/source/lib/libdom/">DOM tree</a>
the authoritative source of all style and attribute data.  This will allow
all HTML attributes to be reflected (read and hopefully write) into the
<a href="dom.html">Level 1 DOM</a>.  We'll make as many of these
meaningfully mutable as possible.  If you'd like a quick hack, you can add
appropriate mutation of your favourite element or property.  Some of this work
will probably also make style sheets much better, as a nice side-effect.

<P>
<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC"  >
<TR>
<TD><B>You can help <I>(please :)</I></B></TD>
</TR>
</TABLE>


<P>Please send mail to the addresses at the top of the page - we need people
that aren't afraid to get their hands dirty working with some (admittedly)
convoluted code. Help in multibyte text layout would be wonderful,
and anyone willing to work on the <a href="dom.html">DOM</a> would
be welcome as well.

<P>Given that there are only two of us (with a third and fourth working on
CSS and one <a href="mailto:shaver@netscape.com">lazy slacker</a> doing
DOM work for XML and HTML) there
is <I>plenty</I> of room for others to help out and make a difference in
the stability, performance, and feature set of 5.0.

<!--
<P>
<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC"  >
<TR>
<TD><B>Current list of volunteers:</B></TD>
</TR>
</TABLE>

<P>Here's some people that have expressed interest in working with us:

<P><A HREF="mailto:weitsang@cs.cornell.edu">Wei Tsang Ooi</A>
<BR><A HREF="mailto:pazandak@OBJS.com">Paul Pazandak</A>
<BR><A HREF="mailto:shaver@netscape.com">Mike Shaver</A>

<P>We'll exchange e-mail between each other and maybe start a mailing list
once we have enough volunteers.
-->





</TD>


<TD VALIGN=TOP ALIGN=RIGHT>
</TD>


<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

</TR>


<TR>


<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM><IMG ALT=""
SRC="../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=BOTTOM COLSPAN=2><IMG ALT=""
SRC="../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>
</TR>

<TR BGCOLOR="#000000">

<TD BGCOLOR="#000000" COLSPAN=5><BR></TD>

<TD BGCOLOR="#000000" VALIGN=TOP>

<FONT COLOR="#AAAAAA" SIZE="-1">
Copyright &copy; 1998-1999 The Mozilla Organization.
</FONT>

</TD>

<TD BGCOLOR="#000000" COLSPAN=2><BR></TD>
</TR>

</TABLE>
</BODY>
</HTML>
