<HTML>
<HEAD>
<TITLE>Perignon: The DOM be stylin'</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"
LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000"
MARGINHEIGHT=0 MARGINWIDTH=0>

<MAP NAME="banner">
<AREA SHAPE=RECT COORDS="300,11,558,44" HREF="http://www.mozilla.org/">
</MAP>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<TR><TD BGCOLOR="#000000" VALIGN=TOP ROWSPAN=2><IMG
SRC="../images/mozilla-banner.gif"
ALT="" BORDER=0 USEMAP="#banner"
WIDTH=600 HEIGHT=58 VSPACE=0 HSPACE=0></TD></TR></TABLE>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">

<TR>


<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>



<TD BGCOLOR="#DDDDDD" VALIGN=TOP><IMG ALT=""
SRC="../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP><IMG ALT=""
SRC="../images/curve1.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP ALIGN=RIGHT>
</TD>


<TD VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve3.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

</TR>


<TR>

<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD BGCOLOR="#DDDDDD" VALIGN=TOP COLSPAN=2>

<TABLE CELLPADDING=0 CELLSPACING=3 BORDER=0>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="..//"><B> The Mozilla<BR>Organization</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../mission.html"> Our Mission</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../about.html"> Who We Are</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../get-involved.html"> Getting Involved</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../community.html"> Community</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../advocacy.html"> Editorials</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../news.html"> What's New</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../newsbot/"> Newsbot</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../development.html"><B> Development</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../roadmap.html"> Roadmap</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../owners.html"> Module Owners</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../blue-sky/"> Blue Sky</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../projects/"> Projects</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../status/"> Status</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../tools.html"> Tools</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../products.html"><B> Products</B></A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../source.html"> Source Code</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../binaries.html"> Binaries</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../docs/"> Documentation</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../NPL/"> License Terms</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../bugs/"> Bug Reports</A></TD></TR>
<TR><TD></TD><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=18><A HREF="../quality/"> Quality</A></TD></TR>
<TR><TD NOWRAP VALIGN=TOP COLSPAN=20><B></B></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../search.html"><B> Search</B></A></TD></TR>
<TR><TD VALIGN=TOP><IMG SRC="../images/bullet1.gif" ALT="" WIDTH=8 HEIGHT=8 HSPACE=2 VSPACE=3></TD><TD NOWRAP COLSPAN=19><A HREF="../feedback.html"><B> Feedback</B></A></TD></TR>
</TABLE>
</TD>


<TD BGCOLOR="#000000" VALIGN=TOP ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=TOP ALIGN=RIGHT>
</TD>


<TD VALIGN=TOP>


  
  

  
    <CENTER><B><FONT SIZE="+2">Perignon</FONT></B></CENTER>
    <CENTER>Mike Shaver, &amp; Eric Pollmann</CENTER>
    <CENTER>&lt;<A HREF="mailto:shaver@netscape.com,pollmann@netscape.com">shaver@netscape.com &amp; pollmann@netscape.com</A>&gt;</CENTER>
    <H4><HR WIDTH="100%"></H4>
<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC">
<TR >
<TD ><B>What is <i>Perignon</i>?</B></TD>
</TR>
</TABLE>

    <P><I>Perignon</I> is the project to replace Mozilla's current CSS-1
      implementation with one that uses the DOM for style information.  We
      believe that this is the best way to fix Mozilla's current, er,
      suboptimal handling of CSS-1, and we've already made good progress.
      Style inheritance works (as near as we can tell) as it should, meaning
      that the days of broken nested-<TT>&lt;DIV&gt;</TT> or table
      style-property inheritance are hopefully behind us.  Also, we've
      improved the handling of the <TT>A:visited</TT> and <TT>A:link</TT>
      pseudoclasses, so that you can now set any text attribute
      (text-decoration, bgcolor, font-decoration, etc.) for these elements.
      (Previously, only <TT>color</TT> worked.)</P>

<TABLE CELLSPACING=0 CELLPADDING=2 COLS=1 WIDTH="100%" BGCOLOR="#FFFFCC">
<TR >
<TD ><B>How do I use <i>Perignon</i>?</B></TD>
</TR>
</TABLE>

    <P> As an HTML author, you can continue to use CSS-1 and JSSS syntaxes
      to set style data for your pages.  Nothing should change, except that
      things will work better!</P>
    <P> As a hacker-on-layout, you need to know about a handful of core APIs.
      Most of the tree-generation and style-data-loading stuff is already done,
      so you just need to worry about extractive data from the style system.
      The APIs live in the DOM library, mainly in <TT><A HREF="http://lxr.mozilla.org/mozilla/source/lib/libdom/domstyle.c">domstyle.c</A></TT>.
      <BR>
    <DL>
      <DT> <TT><A HREF="http://lxr.mozilla.org/mozilla/ident/?i=DOM_StyleDatabase">DOM_StyleDatabase</A></TT>
      <DD> The style database lives in the <A
	  HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_TopState_struct">lo_TopState</A> struct, as <TT>style_db</TT>.  In most layout
	functions, you are provided with an
	<A HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_DocState_struct">lo_DocState</A>, so you can just use
	<TT>doc_state-&gt;top_state-&gt;style_db</TT> to get to it.  If this
	<TT>style_db</TT> is NULL, there is no style information for this page,
	so you should fall back to defaults as appropriate.  (See
	<A HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_FillInTextStyleInfo">lo_FillInTextStyleInfo</A> for an example of this.)
	Don't force the creation of a style database!
      <DT> <TT><A HREF="http://lxr.mozilla.org/mozilla/ident/?i=DOM_StyleGetProperty">DOM_StyleGetProperty</A></TT>
      <DD> This function is used to get an attribute entry (a value, basically)
	for a given style property on a given node.  It does all the
	inheritance and weighting rocket science.  See 	<A HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_FillInTextStyleInfo">lo_FillInTextStyleInfo</A> for a good example of usage.
      <DT> <TT><A HREF="http://lxr.mozilla.org/mozilla/ident/?i=DOM_GetCleanEntryData">DOM_GetCleanEntryData</A></TT>
      <DD> This function uses a provided <A HREF="http://lxr.mozilla.org/mozilla/ident/?i=DOM_DataParser">DOM_DataParser</A> function to parse
	an entry's value as required.  It will cache the value if possible,
	which will hopefully reduce the <TT>strcasecomp</TT> overhead.
    </DL>
    <P> That's basically it.  Everything else is probably going to be
      specific to the individual usage of the data.  In addition to
      <A HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_FillInTextStyleInfo">lo_FillInTextStyleInfo</A>, good examples of usage include
      <A HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_SetStyleSheetLayerProperties">lo_SetStyleSheetLayerProperties</A> and
      <A HREF="http://lxr.mozilla.org/mozilla/ident/?i=lo_format_image">lo_format_image</A>.

    <address><a href="mailto:shaver@netscape.com">Mike
    Shaver</a></address> <!-- Created: Fri Aug 28 10:48:30 EDT 1998
    -->
    <!-- hhmts start -->
Last modified: Tue Oct 13 19:45:49 EDT 1998
<!-- hhmts end -->
  



</TD>


<TD VALIGN=TOP ALIGN=RIGHT>
</TD>


<TD BGCOLOR="#000000" VALIGN=TOP><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

</TR>


<TR>


<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM><IMG ALT=""
SRC="../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#DDDDDD" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>


<TD VALIGN=BOTTOM COLSPAN=2><IMG ALT=""
SRC="../images/curve2.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/curve4.gif"
WIDTH=16 HEIGHT=16 HSPACE=0 VSPACE=0></TD>

<TD BGCOLOR="#000000" VALIGN=BOTTOM ALIGN=RIGHT><IMG ALT=""
SRC="../images/bit.gif"
WIDTH=4 HEIGHT=16 HSPACE=0 VSPACE=0></TD>
</TR>

<TR BGCOLOR="#000000">

<TD BGCOLOR="#000000" COLSPAN=5><BR></TD>

<TD BGCOLOR="#000000" VALIGN=TOP>

<FONT COLOR="#AAAAAA" SIZE="-1">
Copyright &copy; 1998-1999 The Mozilla Organization.
</FONT>

</TD>

<TD BGCOLOR="#000000" COLSPAN=2><BR></TD>
</TR>

</TABLE>
</BODY>
</HTML>
